{{define "app"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <meta name="description" content="{{.Description}}">
    {{range .CSS}}<link rel="stylesheet" href="/static/css/{{.}}">{{end}}
    {{range .JS}}<script src="/static/js/{{.}}" async type="module"></script>{{end}}
</head>
<body>
    {{template "header" .}}
    <main>
        {{template "body" .}}
    </main>
    {{template "footer" .}}
</body>
</html>
{{end}}